@import-normalize;

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #313131;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

select {
  height: 48px;
  padding: 14px 18px;
  border-radius: 14px;
  border-color: transparent;
  background-color: #F7F7FB;
  color: #313131;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23313131" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 18px center;
  background-size: 20px;
  outline: none;
}

select:focus {
  border: 2px solid #3470FF;
}

input {
  width: 160px;
  height: 48px;
  padding: 14px 24px;
  border-color: transparent;
  background-color: #F7F7FB;
  outline: #3470FF;
}

input:focus {
  border: 2px solid #3470FF;
}


button {
  cursor: pointer;
}





